<%- include("partials/header") -%>
<h1><%= title %></h1>
<p><%= content %></p>
<button type="submit" class="btn btn-primary">
  <!-- Edit -->
  <a class="style" href="/edit/<%= id %>">Edit</a>
</button>

<%- include("partials/footer") -%>
